<nav class="navbar navbar-expand-lg bg-light" 
  style="background-image: linear-gradient(rgb(181, 173, 173), rgb(113, 113, 111));;
  border-color: black;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-post">Add post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
      </ul>
    </div>
  </div>
</nav>
