<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<body style="background-image: linear-gradient(to left, rgba(46, 174, 153, 0.285), rgba(92, 171, 205, 0.405));">
  <div style="max-width: 520px; margin: 0 auto">
    <h1><%=title%></h1>

    <p >Build with Node&Express.js and MongoDB&Mongoose</p>
  </div>
</body>

